.content1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  .container {
    width: 100%;
    max-width: 960px;
    margin: auto;
  }

  .topleft {
    display: flex;
    align-items: center;
  }

  .topmid {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lang{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    list-style: none;
  }
  .topright{
    font-size: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub{
    background-color: rgb(74, 108, 153);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.log{
    background-color: rgb(74, 108, 153);
    color: white;
    padding: 10px;
    border-radius: 10%;
}
  .content1 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .content2 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-bottom: 1px solid rgb(223, 223, 223);
  }
  .midleft {
    font-size: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1px;
  }
  .date{
    font-weight: bold;
  }
  .midmid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Satisfy', cursive;
  }
  .midright {
    display: flex;
    align-items: right;
    justify-content: right;
  }

  .content3{
       border-bottom: 1px solid rgb(102, 102, 102);

  }
  ul.botall {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0px;
  }